.list-workspaces {
  background-color: #512051;
  padding: 1em;
  color: white;
  border-radius: 5px;
  margin-top: 0.5em;
}

.list-workspaces-title {
  font-size: 1.2em;
  background-color: #e6a9e4;
  padding: 0.5em;
  border-radius: 5px;
  color: #400d40;
  margin-bottom: 1em;
  text-align: center;
}

.workspace {
  margin-bottom: 1em;
}
