.workspace {
  display: flex;
  background-color: #512051;
  border-radius: 5px;
  padding: 0.5em;
  margin-bottom: 1em;
}

.workspace-img-and-name {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.workspace-image {
  height: 75px;
  width: 75px;
  margin-right: 1em;
  border-radius: 5px;
}

.workspace-name {
  font-weight: bold;
  color: white;
  margin-right: 1em;
  font-size: 0.9em;
  flex: 1;
}

.button-get-in {
  background-color: #b782b5;
  color: white;
  border: 0;
  padding: 0.5em 1em;
  font-weight: bold;
  font-size: 0.8em;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.button-get-in:hover {
  background-color: #684b67;
}

@media (max-width: 720px) {
  .workspace {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .workspace-img-and-name {
    flex: 1;
    margin-right: 0.5em;
  }

  .workspace-name {
    margin-right: 0.5em;
  }
}
