.workspace {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.workspace-img-and-name {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.workspace-image {
  height: 75px;
  width: 75px;
  margin-right: 1rem;
  border-radius: 5px;
}

.workspace-name {
  font-weight: bold;
}

.button-get-in {
  background-color: #400d40;
  color: white;
  border: 0;
  padding: 0.5em;
  font-weight: bold;
  font-size: 0.7em;
}
