.home {
  display: flex;
  flex-direction: column;
  background-color: #400d40;
  color: white;
  padding: 0 1em;
  height: 100vh;
}

.welcome {
  align-self: center;
  font-size: 1.5em;
  margin: 1em 0;
  text-align: center;
}

.workspaces {
  display: flex;
  flex-direction: column;
  margin: 0;
}

.btn-home-new-workspace {
  background-color: #b782b5;
  color: white;
  border: 0;
  border-radius: 5px;
  padding: 10px 20px;
  font-weight: bold;
  font-size: 1em;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: 5px;
  width: 100%;
}

.btn-home-new-workspace:hover {
  background-color: #e6a9e4;
  color: #400d40;
}
