/* Fondo general del componente */
.forgot-password {
    background-image: url('https://wallpapercat.com/w/full/2/a/6/15618-1920x1080-desktop-full-hd-hogwarts-legacy-wallpaper-image.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
  }
  
  /* Título principal */
  .forgot-password-main-title {
    font-size: 2.5rem;
    color: #fff;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
    margin-bottom: 20px;
  }
  
  /* Contenedor del formulario */
  .forgot-password-container {
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    padding: 30px;
    width: 90%;
    max-width: 400px;
    text-align: center;
  }
  
  /* Título del formulario */
  .forgot-password-title {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #fff;
  }
  
  /* Descripción */
  .forgot-password-description {
    font-size: 0.9rem;
    color: #fff;
    margin-bottom: 20px;
  }
  
  /* Input del formulario */
  .forgot-password-form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #e8a9e6;
    border-radius: 5px;
    font-size: 1rem;
    background-color: #f9f9f9;
  }
  
  /* Botón del formulario */
  .forgot-password-button {
    background-color: #b782b5;
    border: none;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;
  }
  
  .forgot-password-button:hover {
    background-color: #684b67;
  }
  
  /* Enlace para volver al login */
  .forgot-password-back-to-login {
    margin-top: 20px;
    font-size: 0.9em;
    color: #fff;
  }
  
  .forgot-password-back-to-login .forgot-password-link {
    color: #b782b5;
    text-decoration: none;
    font-weight: bold;
  }
  
  .forgot-password-back-to-login .forgot-password-link:hover {
    color: #d3b3d2;
  }
  
  /* Media Queries */
  @media screen and (max-width: 720px) {
    .forgot-password-container {
      max-width: 90%;
      padding: 15px;
    }
  
    .forgot-password-container h2 {
      font-size: 18px;
    }
  
    .forgot-password-container button {
      font-size: 14px;
      padding: 8px;
    }
  
    .forgot-password-container input[type='email'] {
      font-size: 14px;
    }
  }
  