/* Estilos principales */
.reset-password {
    background-image: url('https://wallpapercat.com/w/full/2/a/6/15618-1920x1080-desktop-full-hd-hogwarts-legacy-wallpaper-image.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
  }
  
  .reset-password-container {
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    padding: 30px;
    width: 90%;
    max-width: 400px;
    text-align: center;
  }
  
  .reset-password-container h2 {
    margin-bottom: 20px;
    text-align: center;
    color: #ffffff;
    font-size: 1.5em;
  }
  
  .reset-password-container form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  
  .reset-password-container input[type='password'] {
    padding: 0.75rem;
    font-size: 1rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    outline: none;
  }
  
  .reset-password-container input[type='password']:focus {
    outline: none;
    border-color: #b782b5;
  }
  
  .reset-password-container .error-message {
    color: #ff6666;
    font-size: 14px;
    margin-top: -5px;
    margin-bottom: 10px;
    text-align: center;
  }
  
  .reset-password-container button {
    padding: 10px;
    margin-top: 10px;
    background-color: #b782b5;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .reset-password-container button:hover {
    background-color: #684b67;
  }
  
  /* Media Queries */
  @media screen and (max-width: 720px) {
    .reset-password-container {
      max-width: 90%;
      padding: 15px;
    }
  
    .reset-password-container h2 {
      font-size: 18px;
    }
  
    .reset-password-container button {
      font-size: 14px;
      padding: 8px;
    }
  
    .reset-password-container input[type='password'] {
      font-size: 14px;
    }
  }
  